@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap')
body
	padding: 20px
	margin: 0
	font-family: "Walter Turncoat", serif
	background-image: url('../pm-bg.jpg')
	background-attachment: fixed
	background-size: cover
	backdrop-filter: blur(3px)
	backdrop-filter: brightness(170%)
	backdrop-filter: contrast(60%)
	background-position: top center
.wrapper
	margin: 0 auto
	min-height: 100vh
	padding: 20px
	border-radius: 10px
	box-shadow: 0 0 10px #000
	width: 65vw
	background: #fff7
	@media (max-width: 768px)
		width: 90vw
		
	.header
		width: 100%
		height: 150px
		background-image: url(../head.jpg)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
h1
	margin-left: 20px
	margin-bottom: -10px
form
	width: 30vw
	margin: 10px auto
	display: flex
	justify-content: space-between
	outline: 1px solid #0006 
	border-radius: 10px
	background-color: transparent
	overflow: hidden
	@media ( max-width: 567px )
		width: 85vw
		
	input
		font-size: 1.5rem
		width: 100%
		border: none
		padding: 5px 10px
		text-transform: lowercase 
		background: #fff6 
		outline: none
	button
		background: #fff6 
		border: none
		i
			font-size: 1.5rem
.name
	position: relative
	height: 150px
	margin: 20px
	h3
		position: absolute
		top: 50px
		left: 120px
		font-size: 2.1rem
		z-index: 33
	img.gif
		position: absolute
		top: 25px
		left: 10px
	#height
		font-size: 1.4rem
		position: absolute
		top: 95px
		z-index: 33

#name
	text-transform: capitalize
	font-weight: 800
	font-style: normal
ul
	list-style: none
	display: flex
	gap: 10px
	flex-flow: wrap
	justify-content: space-evenly
	li
		font-variant: small-caps
		background: darken(yellow, 15% )
		padding: 5px 10px
		border-radius: 10px
		box-shadow: -3px 3px 8px #0008 
